<!DOCTYPE html>

<html>
    <head>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <Body>
        {{>header}}
        <h2>This is the about page of our Weather app</h2>
        {{>footer}}
    </Body>
</html>