<header>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</header>

<div>
    {{>header}}
    <h3> 404 Error Page </h3>
    <h4>the page you're asking for does not exist</h4>
    {{>footer}}
</div>