
<header>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</header>


<body>
    <link rel="stylesheet" href="/css/style.css">

    {{>header}}
    <h3> 404 Error Help Page </h3>
    <h4>The page you're asking for does not exist</h4>
    {{>footer}}
</body>