<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/img/weather.png">
    </head>
    <Body>
        {{>header}}
        <h2>Search for the Weather of a location </h2>
        <form>
            <input placeholder="Location"/>
            <button>Submit</button>
        </form>
        <h1 id="weatherResult">

        </h1>
        {{>footer}}
        <script src="/js/app.js"></script>

    </Body>
</html>